.footer{
    width:100%;
    position:absolute; 
    bottom:0;
    height: auto;
    .contact{
        width:470px;
        line-height: 20px;
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: left;
    }
}